html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.hg__header { grid-area: header; }
.hg__footer { grid-area: footer; }
.hg__main { grid-area: main; }
.hg__left { grid-area: navigation; }
.hg__right { grid-area: ads; }

.hg__header {
    background: #ccc;
}

.hg {
    display: grid;
    grid-gap: 10px;
	grid-template-areas: "header header header"
	                     "navigation main ads"
	                     "footer footer footer";
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: auto
						1fr
						auto;
	min-height: 100vh;
}

.hg > [class^="hg__"] {
    border: 2px dotted rgb(224, 102, 2);
    padding: 1rem;
}

.hg.grid_main {
	grid-template-areas: "main";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	min-height: 100vh;
}

.hg.grid_main-right {
	grid-template-areas: "main ads";
	grid-template-columns: 1fr 150px;
	grid-template-rows: 1fr;
	min-height: 100vh;
}

.hg.grid_main-left {
	grid-template-areas: "navigation main";
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr;
	min-height: 100vh;
}

.hg.grid_main-foot {
    grid-template-areas: "main"
                         "footer";
	grid-template-columns: 1fr;
    grid-template-rows: 1fr
                        auto;
	min-height: 100vh;
}

.hg.grid_main-head {
    grid-template-areas: "header"
                         "main";
	grid-template-columns: 1fr;
    grid-template-rows: auto
                        1fr;
	min-height: 100vh;
}

@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
		                     "navigation"
		                     "main"
		                     "ads"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: auto
							auto
							1fr
							auto
							auto;
	}
}